<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Employee Directory</title>
</head>
<body>
<div class="container">

    <h3>Employee Directory</h3>
    <hr>

    <!-- Button add employee -->
    <a th:href="@{/employees/showFormForAddEmployee}"
       class="btn btn-primary btn-sm mb-3">
        Add Employee
    </a>

    <!-- search form -->
    <input id="txtSearch" type="text" name="keyword" th:value="@{keyword}" placeholder="find by name or user_role"
           size="30">

    <table id="employeeTable" class="table table-bordered table-striped text-center">
        <thead class="thead-dark text-center">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>work_Email</th>
            <th>phone-number</th>
            <th>user_role</th>
            <th>action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tempEmployee : ${employees}">
            <td th:text="${tempEmployee.first_name}"></td>
            <td th:text="${tempEmployee.last_name}"></td>
            <td th:text="${tempEmployee.Work_Email}"></td>
            <td th:text="${tempEmployee.phone_number}"></td>
            <td th:text="${tempEmployee.User_Role}"></td>

            <td>
                <!-- update user-->
                <a th:href="@{/employees/showFormForUpdateEmployee(employeeId=${tempEmployee.id})}"
                   class="btn btn-info btn-sm">
                    update
                </a>
                <!-- delete user-->
                <a th:href="@{/employees/delete(employeeId=${tempEmployee.id})}"
                   onclick="if (!(confirm('Are you sure you want to delete this employee?'))) return false"
                   class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!-- javascripts -->
<script th:inline="javascript">
      /*<![CDATA[*/
    var employees = /*[[${employees}]]*/;


    $('#txtSearch').on('keyup', function(){
    var value = $(this).val();
    console.log('Value  = ' + value);

    });

    function FilterFunction(value, data){
        var filteredData =[];
        for(var i = 0; i<data.length; i++){
            value =value.toLowerCase();
            var fname = data[i].firstname.toLowerCase();
            var lname = data[i].lastname.toLowerCase();

            if(fname.includes(value) || lname.includes(value)){
                filteredData.push(data[i]);
            }
        }
    return filteredData;
    }

    function rebuildTable( data){
        var table  =document.getElementById('employeeTable')
        table.innerHTML = ''
        for(var i = 0; i<data.length; i++){
            var row = <tr>
                          <td>${data[i].first_name}</td>
                          <td>${data[i].last_name}</td>
                          <td>${data[i].Work_Email}</td>
                          <td>${data[i].phone_number}</td>
                          <td>${data[i].User_Role}</td>
                        </tr>
                        table.innerHTML += row
        }
    }
/*]]>*/
</script>
</body>
</html>