<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Employee Directory</title>
</head>
<body>
<div class="container">

    <h3>Employee Directory</h3>
    <hr>

    <!-- Button add employee -->
    <a th:href="@{/employees/showFormForAddEmployee}"
       class="btn btn-primary btn-sm mb-3">
        Add Employee
    </a>

    <!-- search form -->
    <form action="/search" method="get">
        <label for="name">Search by name:</label><br>
        <input type="text" id="name" name="fname"><br>
        <input type="submit" value="Submit">
    </form>



    <table id="employeeTable" class="table table-bordered table-striped text-center">
        <thead class="thead-dark text-center">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>work_Email</th>
            <th>phone-number</th>
            <th>user_role</th>
            <th>action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tempEmployee : ${employees}">
            <td th:text="${tempEmployee.fname}"></td>
            <td th:text="${tempEmployee.last_name}"></td>
            <td th:text="${tempEmployee.Work_Email}"></td>
            <td th:text="${tempEmployee.phone_number}"></td>
            <td th:text="${tempEmployee.User_Role}"></td>

            <td>
                <!-- update user-->
                <a th:href="@{/employees/showFormForUpdateEmployee(employeeId=${tempEmployee.id})}"
                   class="btn btn-info btn-sm">
                    update
                </a>
                <!-- delete user-->
                <a th:href="@{/employees/delete(employeeId=${tempEmployee.id})}"
                   onclick="if (!(confirm('Are you sure you want to delete this employee?'))) return false"
                   class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!-- javascript -->
<script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/}]]";
    }
</script>
</body>
</html>